{
	"search_radious": 50000, 
	"_search_radious_comment": "max 50 000 meters",
	"place_type": "travel_agency",
	"_place_type_comment": "from https://developers.google.com/places/documentation/supported_types?hl=pl",
	"api_key": "",
	"default_location": "50.26265849772663,19.02935028076172",
	"where_emails": ["kontakt", "Kontakt", "Contact", "contact", "KONTAKT", "CONTACT"]
}